/* View notes */
.notes-div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
}

.note-preview {
    width: 40%;
    max-width: 50%;
    height: auto;
    min-height: 200px;
    margin: auto;
    margin-top: 4%;
    background-color: #F5EDBD;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow: hidden
}

.note-title {
    font-size: 40px;
    text-align: center;
}

.note-text {
    width: 96%;
    height: auto;
    min-height: 120px;
    margin: 2%;
    border: 1px solid grey;
    border-radius: 4px;
    text-align: left;
}

.div-bottom {
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
}

.date {
    float: left;
    margin-left: 10px;
}

.delete {
    float: right;
    margin-right: 10px;
    color: black;
}

/*  Create note  */

.note-div {
    width: 60%;
    height: auto;
    min-height: 300px;
    margin: auto;
    margin-top: 4%;
    background-color: #F5EDBD;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow: hidden;
}

.text-input {
    width: 60%;
    height: auto;
    margin: 2%;
    margin-right: 20%;
    margin-left: 20%;
    padding: 4px;
    font-size: 20px;
    background-color: #F5EDBD;
    border-radius: 4px;
    border: 1px solid grey;
}

.text-area {
    width: 80%;
    height: auto;
    min-height: 200px;
    padding: 8px;
    margin: 1%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    background-color: #F5EDBD;
    border: 1px solid grey;
}

.div-submit {
    width: 40%;
    height: 40px;
    margin: auto;
    margin-bottom: 32px;
    padding: 8px;
    overflow: hidden;
}

.input-color {
    width: 42%;
    height: 40px;
    margin: 8px;
}

.submit-input {
    float: right;
    width: 42%;
    height: 40px;
    margin: 8px;
    font-size: 16px;
    background-color: #333;
    border: none;
    border-radius: 4px;
    color: white;
}