<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='notes.css')}}">
    <script type=text/javascript src="{{url_for('static', filename='js/color.js')}}"></script>
    <script src="https://kit.fontawesome.com/71fde90bd7.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar">
        <a id="active" href="/"> Home </a>

        <div class="dropdown">
            <button class="dropbtn"> Notas
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/notes"> Suas notas</a>
                <a href="/notes/add"> Nova nota </a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn"> Contatos
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/contacts"> Seus contatos</a>
                <a href="/contacts/add"> Novo contato </a>
            </div>
        </div>

        <a href="/urls"> Sites </a>
        <a href="/about"> Sobre </a>

        <div class="dropdown">
            <button class="dropbtn"> Login
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/check"> Entrar</a>
                <a href="/settings"> Ajustes</a>
                <a href="/logout"> Sair </a>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="note-div" id="note">
            <form action="/notes/add" method="POST">
                <input class="text-input" type="text" name="title" id="note-name" placeholder="Titulo da nota"><br>
                <textarea class="text-area" name="text" id="text-area" placeholder="Digite algo..."></textarea><br>
                <div class="div-submit">
                    <input type="color" class="input-color" name="color" onchange="changeColor(this.value)">
                    <input type="submit" class="submit-input" value="Salvar">
                </div>
            </form>
        </div>
    </div>

</body>
</html>