<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contatos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contacts.css')}}">
    <script src="https://kit.fontawesome.com/71fde90bd7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
</head>
<body>
    <div class="navbar">
        <a id="active" href="/"> Home </a>

        <div class="dropdown">
            <button class="dropbtn"> Notas
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/notes"> Suas notas</a>
                <a href="/notes/add"> Nova nota </a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn"> Contatos
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/contacts"> Seus contatos</a>
                <a href="/contacts/add"> Novo contato </a>
            </div>
        </div>

        <a href="/urls"> Sites </a>
        <a href="/about"> Sobre </a>

        <div class="dropdown">
            <button class="dropbtn"> Login
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/check"> Entrar</a>
                <a href="/settings"> Ajustes</a>
                <a href="/logout"> Sair </a>
            </div>
        </div>
    </div>

    <div class="content">
        <h2 class="title"> Seus contatos </h2>
        <ul class="list-contacts">
            {% block content %}
            {% for contact in contacts %}
                <a style="text-decoration: none;color: inherit;" href="/contacts/view">
                    <li class="contact">
                        <div>
                            <i class="fa-solid fa-user"></i>
                            <span> {{ contact.name }} {{ contact.lastname }}  </span>
                            <a style="float: right;">{{ contact.telephone}} </a>
                            <dl>
                                <a> {{ contact.email }} </a>
                                <a class="contact-social"> {{ contact.social }}</a>
                                <a style="float: right;" href="/contacts/del={{ contact.id }}">
                                   <button class="btn-delete"><i class="fa-solid fa-trash fa-lg"></i></button>
                                </a>
                                <a style="float: right; padding-right: 16px;" href="/contacts/edit={{ contact.id }}">
                                   <button class="btn-delete"><i class="fa-solid fa-pen fa-lg"></i></button>
                                </a>

                            </dl>
                        </div>
                    </li>
                </a>
            {% endfor %}
            {% endblock %}
        </ul>
    </div>

</body>
</html>