<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajustes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css')}}">
    <script type=text/javascript src="{{url_for('static', filename='js/script.js')}}"></script>
    <script src="https://kit.fontawesome.com/71fde90bd7.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar">
        <a id="active" href="/"> Home </a>

        <div class="dropdown">
            <button class="dropbtn"> Notas
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/notes"> Suas notas</a>
                <a href="/notes/add"> Nova nota </a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn"> Contatos
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/contacts"> Seus contatos</a>
                <a href="/contacts/add"> Novo contato </a>
            </div>
        </div>

        <a href="/urls"> Sites </a>
        <a href="/about"> Sobre </a>

        <div class="dropdown">
            <button class="dropbtn"> Login
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/check"> Entrar</a>
                <a href="/settings"> Ajustes</a>
                <a href="/logout"> Sair </a>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="edit-profile-div">
            <form method="POST" action="/settings">
                <input class="user-input" type="text" name="username" value="{{ user.username }}"><br>
                <input class="user-input" type="text" name="email" value="{{ user.email }}"><br>
                <input class="password-input" type="password" name="password" placeholder="Sua nova senha"><br>
                <input class="password-input" type="password" name="pwd" placeholder="Comfirme sua nova senha"><br>
                <input class="submit-input" type="submit" value="Salvar alterações">
            </form>
        </div>
    </div>

</body>
</html>