<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='notes.css')}}">
    <script type=text/javascript src="{{url_for('static', filename='js/script.js')}}"></script>
    <script src="https://kit.fontawesome.com/71fde90bd7.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar">
        <a id="active" href="/"> Home </a>

        <div class="dropdown">
            <button class="dropbtn"> Notas
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/notes"> Suas notas</a>
                <a href="/notes/add"> Nova nota </a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn"> Contatos
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/contacts"> Seus contatos</a>
                <a href="/contacts/add"> Novo contato </a>
            </div>
        </div>

        <a href="/urls"> Sites </a>
        <a href="/about"> Sobre </a>

        <div class="dropdown">
            <button class="dropbtn"> Login
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/check"> Entrar</a>
                <a href="/settings"> Ajustes</a>
                <a href="/logout"> Sair </a>
            </div>
        </div>
    </div>

    <div class="content">
        {% if notes %}
        <h2 class="title"> Suas notas:</h2>
            <div class="notes-div">
                {% for note in notes %}
                    <div class="note-preview" style="background-color: {{ note.color }}">
                        <a class="note-title"> {{ note.title }}</a><br>
                        <pre class="note-text"> {{ note.text }}</pre><br>
                        <div class="div-bottom">
                            <a class="date">{{ note.date }}</a>
                            {% if user.id == note.user_id %}
                                <a class="delete" href="/notes/del={{ note.id }}"><i class="fa-solid fa-trash"></i></a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
        <h2><a  class="link" href="/notes/add">Você ainta não tem notas. crie uma!</a></h2>
        {% endif %}
    </div>

</body>
</html>