<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sites</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='urls.css')}}">
    <script type=text/javascript src="{{url_for('static', filename='js/urls.js')}}"></script>
    <script src="https://kit.fontawesome.com/71fde90bd7.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar">
        <a id="active" href="/"> Home </a>

        <div class="dropdown">
            <button class="dropbtn"> Notas
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/notes"> Suas notas</a>
                <a href="/notes/add"> Nova nota </a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn"> Contatos
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/contacts"> Seus contatos</a>
                <a href="/contacts/add"> Novo contato </a>
            </div>
        </div>

        <a href="/urls"> Sites </a>
        <a href="/about"> Sobre </a>

        <div class="dropdown">
            <button class="dropbtn"> Login
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/check"> Entrar</a>
                <a href="/settings"> Ajustes</a>
                <a href="/logout"> Sair </a>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="div-urls">
            <h2 class="title"> Seus Favoritos </h2>
            <ul class="list-urls">
                {% block content %}
                    {% for url in urls %}
                        <li class="url" >
                            <div >
                                <i class="fa-solid fa-earth-americas"></i>
                                <span onclick="openLink('{{ url.url }}')"> {{ url.site_name }}</span>
                                <dl>
                                    <a > {{ url.url }} </a>
                                    <a style="float: right;" href="/urls/del={{ url.id }}">
                                       <button class="btn-delete"><i class="fa-solid fa-trash fa-lg"></i></button>
                                    </a>
                                </dl>
                             </div>
                        </li>
                    {% endfor %}
                {% endblock %}
            </ul>
                <div class="div-new-url">
                    <form action="/urls/add" method="POST">
                        <input type="text" class="text-input" name="title" placeholder="Nome do site">
                        <input type="url"class="url-input" name="url" value="http://"><br>
                        <input type="submit" class="submit-input" value="Adicionar">
                    </form>
                </div>
        </div>
    </div>

</body>
</html>