{% extends "base.html" %}
    {% block content %}

        {% block head %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css')}}">
            <script type=text/javascript src="{{url_for('static', filename='js/login.js')}}"></script>
        {% endblock %}


        <div class="content">
            {% for message in get_flashed_messages() %}
                <div class="alert-error">{{ message }}</div>
            {% endfor %}

            <div class="login-content">
                <div class="tabs">
                  <button id="tab-active" style="float: left;" class="tablinks" onclick="show_login(this)"> Entrar </button>
                  <button  class="tablinks" onclick="show_signup(this)"> Cadastrar </button>
                </div>
                <div style="display: block;" class="login-tab" id="Login">
                    <form name="login-form" onsubmit="return validLogin(this)" method="POST" action="/login">
                        <input class="user-input" type="text" name="username" placeholder="Usuario">
                        <input class="password-input" type="password" name="password" placeholder="Senha">
                        <input class="submit-input" type="submit" value="Entrar">
                    </form>
                </div>

                <div class="login-tab" id="Signup">
                    <form onsubmit="return validSignup(this)" method="POST" action="/signup">
                        <input class="user-input" type="text" name="username" placeholder="Usuario">
                        <input class="password-input" type="password" name="password" placeholder="Senha">
                        <input class="password-input" type="password" name="pwd" placeholder="Comfirme senha">
                        <input class="user-input" type="email" name="email" placeholder="Email">
                        <input class="submit-input" type="submit" value="Cadastrar">
                    </form>
                </div>
            </div>

            <div class="div-brand">
                <a class="brand-name"> PyNotes</a>
                <i class="fa-brands fa-python fa-2xl"></i>
            </div>
            <h3> Salve suas ideias para ver mais tarde...Por que inspiração passa mas seus planos não!</h3>

        </div>
    {% endblock %}
